name: Run Postgres Transaction Tests

on:
  workflow_dispatch:

jobs:
  basic-tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Test 1 - Error-Induced Aborted State
      run: bash test_idle_in_transaction_aborted.sh
    
    - name: Test 2 - Timeout-Induced Termination
      run: bash test_idle_in_transaction_timeout.sh
    
    - name: Test 3 - Network Partition
      run: bash test_network_partition.sh
    
    - name: Test 4 - Client Kill with Blocked Query
      run: bash test_client_kill.sh
    
    - name: Test 5 - Client Context Cancellation with Blocked Query
      run: bash test_client_cancel.sh

  conn-exhaustion-2pgb-poison-nopool:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: |
        docker compose pull
        docker pull edoburu/pgbouncer:v1.25.1-p0
        docker pull alpine:latest
    
    - name: Test - Connection Exhaustion (2 PgBouncers, poison, nopool)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 2 poison nopeers

  conn-exhaustion-1pgb-poison-nopool:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: |
        docker compose pull
        docker pull edoburu/pgbouncer:v1.25.1-p0
        docker pull alpine:latest
    
    - name: Test - Connection Exhaustion (1 PgBouncer, poison, nopool)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 1 poison nopeers

  conn-exhaustion-2pgb-sleep-nopool:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: |
        docker compose pull
        docker pull edoburu/pgbouncer:v1.25.1-p0
        docker pull alpine:latest
    
    - name: Test - Connection Exhaustion (2 PgBouncers, sleep, nopool)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 2 sleep nopeers

  conn-exhaustion-2pgb-poison-pool:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: |
        docker compose pull
        docker pull edoburu/pgbouncer:v1.25.1-p0
        docker pull alpine:latest
    
    - name: Test - Connection Exhaustion (2 PgBouncers, poison, pool)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 2 poison peers

  conn-exhaustion-2pgb-sleep-pool:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: |
        docker compose pull
        docker pull edoburu/pgbouncer:v1.25.1-p0
        docker pull alpine:latest
    
    - name: Test - Connection Exhaustion (2 PgBouncers, sleep, pool)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 2 sleep peers
