name: Run Postgres Transaction Tests

on:
  workflow_dispatch:

jobs:
  basic-tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Test 1 - Error-Induced Aborted State
      run: bash test_idle_in_transaction_aborted.sh
    
    - name: Test 2 - Timeout-Induced Termination
      run: bash test_idle_in_transaction_timeout.sh
    
    - name: Test 3 - Network Partition
      run: bash test_network_partition.sh
    
    - name: Test 4 - Client Kill with Blocked Query
      run: bash test_client_kill.sh
    
    - name: Test 5 - Client Context Cancellation with Blocked Query
      run: bash test_client_cancel.sh

  conn-exhaustion-2pgb-poison:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: docker compose pull
    
    - name: Test - Connection Exhaustion (2 PgBouncers, poison mode)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 2 poison

  conn-exhaustion-2pgb-sleep:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: docker compose pull
    
    - name: Test - Connection Exhaustion (2 PgBouncers, sleep mode)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 2 sleep

  conn-exhaustion-1pgb-poison:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: docker compose pull
    
    - name: Test - Connection Exhaustion (1 PgBouncer, poison mode)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 1 poison

  conn-exhaustion-1pgb-sleep:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
    
    - name: Pull Docker images
      working-directory: ./conn_exhaustion
      run: docker compose pull
    
    - name: Test - Connection Exhaustion (1 PgBouncer, sleep mode)
      working-directory: ./conn_exhaustion
      run: bash test_poisoned_connpool_exhaustion.sh 1 sleep
